<div class="row">
  <div class="col-xs-10">
    <br>
    <br>
    <form [formGroup] ="taskForm" (ngSubmit) = "submitForm()" >




      <div class="form-group">
        <label for="name">Task Name</label>
        <input type="text" id="name" class="form-control"
               formControlName="name">
      </div>



      <div class="form-group" >
        <label for="sel1">Select list:</label>
        <select formControlName="project" class="form-control" id="sel1">
          <option value="P1">P1</option>
          <option value="P2">P2</option>
        </select>
      </div>


      <div class="form-group">
        <label for="sel2">Select list:</label>
        <select class="form-control" id="sel2" formControlName ="set">
          <option value="S1">S1</option>
          <option value="S2">S2</option>
          <option value="S3">S3</option>
          <option value="S4">S4</option>
          <option value="S5">S5</option>
          <option value="S6">S6</option>
        </select>

        <label for="sel2">{{ set }}</label>
      </div>

      <div class="form-group">
        <label for="sel3">Select list:</label>
        <select class="form-control" id="sel3" formControlName ="type">
          <option value="DvD">DvD</option>
          <option value="Vhs">Vhs</option>
          <option value="MC">MC</option>
          <option value="LP">LP</option>
        </select>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Task</button>
      </div>



    </form>


  </div>


</div>

<hr>
